
.container-login {
  width: 100%;
  min-height: 100vh;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 15px;

  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .card {
    background: white;
    width: 100%;
    max-width: 380px;
    padding: 30px 25px;
    border-radius: 12px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .titulo {
    text-align: center;

    h1 {
      font-size: 24px;
      color: #d30505;
      font-weight: bold;
      margin: 0;
    }
  }

  .botoes {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 100%;

    .botao {
      display: flex;
      flex-direction: column;
      gap: 6px;
      width: 100%;

      label {
        font-size: 15px;
        font-weight: 500;
        color: #333;
      }

      input {
        width: 100%;
        height: 42px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 8px;
        background: #fafafa;
        font-size: 15px;

        &:focus {
          outline: none;
          border-color: #d30505;
          box-shadow: 0px 0px 4px rgba(211, 5, 5, 0.4);
        }
      }

      .recuperar-senha {
        font-size: 13px;
        color: #555;
        text-decoration: none;
        text-align: right;

        &:hover {
          color: #d30505;
          text-decoration: underline;
        }
      }
    }
  }

  button {
  width: 100%;
  max-width: 250px; 
  height: 45px;
  background-color: #d30505;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.25s;
  align-self: center; 

  &:hover {
    background-color: #a90303;
  }
}


  .link-cadastro {
    font-size: 14px;
    color: #d30505;
    text-decoration: none;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }
  @media (max-width: 430px) {
    .container-login {
      padding: 20px;
  
      .card {
        padding: 25px 20px;
      }
    }
  }
}


@media (max-width: 480px) {
  .container-login {
    main {
      width: 100%;
      align-items: center;
    }

    .card {
      width: 90%;
      max-width: 350px;
    }

    button {
      width: 200px !important; 
      align-self: center; 
    }

    .botoes,
    .botao {
      width: 100%;
      align-items: center; 
    }

    input {
      width: 100% !important; 
      max-width: 260px;
    }
  }
}