// Variáveis
$cor-primaria: rgb(211, 5, 5);
$cor-secundaria: rgb(226, 226, 226);
$cor-texto: white;
$cor-borda: black;
$sombra: 0px 3px 3px gray;

// Mixins
@mixin flex-center($direction: row) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
}

@mixin borda-arredondada($raio: 10px) {
  border-radius: $raio;
}

// Estilos principais
main {
  @include flex-center(column);
  
  .conteiner {
    background-color: white;
    margin-top: 85px;
    @include flex-center(column);
    padding: 30px;
    border: 1px solid $cor-borda;
    @include borda-arredondada;

    .recuperar-senha {
        text-decoration: none;
        color: gray;
    }
  }
}

.link-cadastro {
    text-decoration: none;
    color: red;
}

.body {
    background-image: url('../../assets/fundoLogin.png');
    padding: 100px;
}
// Componentes de formulário
.botoes {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.botao {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 5px;
}

// Elementos de formulário
input {
  width: 300px;
  height: 31px;
  @include borda-arredondada;
  box-shadow: 0px 1px 1px black;
  border: 0px solid;
  background-color: $cor-secundaria;
}

label {
  font-size: 20px;
}

button {
  width: 150px;
  height: 40px;
  @include borda-arredondada;
  background-color: $cor-primaria;
  color: $cor-texto;
  font-size: 20px;
}

// Componentes de texto
.titulo {
  width: 250px;
  border-bottom: 1px solid $cor-borda;
  text-align: center;
  margin-bottom: 30px;
}

h1 {
  color: $cor-primaria;
  font-size: 20px;
  text-shadow: $sombra;
}