*{
    padding: 0;
    margin: 0;
}

.Container-herosection{
    background-image: url('../../assets/bannerhero.png'); /* Ou url('/public/imagem.png') */
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  width: 150vh;
  margin-top: 80px;


}